.dialogs {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.dialog {
    padding: 10px;
}

.dialogItem {
    margin-bottom: 5px;
}

.dialogItem.active {
    color: gold;
}

.message {
    padding: 10px;
    margin-left: 100px;
}

.messageItem {
    margin-bottom: 5px;
}

.messageImg img {
    width: 30px;
    border-radius: 50px;
}

.answerItem {
    padding: 10px;
    margin-left: 150px;
}

a {
    color: whitesmoke;
}
/* 
img {
    width: 30px;
    border-radius: 50px;
} */